<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link rel="stylesheet" href="../static/css/home.css"/>

    <style>

    </style>
</head>

<body>
<h1 style="margin-top: 250px">Welcome to Text Sentiment Analysis App</h1>
<p>To access the features of this application, please log in or register:</p>
<div class="button-container">
    <button onclick="location.href='/login'">Login</button>
    <button onclick="location.href='/register'">Register</button>
</div>




</body>
</html>
